# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Playwright
test-results/
playwright-report/
blob-report/

# Screenshots / Videos / Traces
screenshots/
videos/
traces/

# Coverage
.coverage
htmlcov/
coverage.xml

# IDE
.vscode/

# OS
.DS_Store

# Environment Variables
.env

# Logs
*.log

# Allure
allure-results/
allure-report/